
.content{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background: #141414;
  padding: 50px;
}

  
.thumbnails-container{
  /*! width: 20vw; */
  /*! padding: 10px; */
  overflow:auto;
  padding-right: 10px;
  max-width: 400px;
}

.thumbnails-list{
  list-style:none;
  padding: 0px;
  /*! padding-right: 5px; */

}

.thumbnail-element{

  padding: 5px;
  text-align: center;
  vertical-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.thumbnail-element-stream{
  background-color: lightgray;
  background-origin: content-box;
  padding: 5px;
  text-align: center;
  vertical-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}


.stream_thumbnail {
  width: 20%;

}
.thumbnail {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.stream-container{
  width: 100%;
  padding-left:10px;


  padding-right: 10px;
}
.stream-frame {
  height: 100%;

  width: 95%;
  border-radius: 5px;
  /*! rigth: 0; */
  float: right;
}

.camera-control{
  position: absolute;
  list-style: none;
  bottom: 30;
  right: 60;
  /*! margin-left: 10vw; */
  top: 50;
}

.camera-control-element{
  width: 100px;
  height: 100px;
  /*! border-radius: 45px; */
  opacity: 0.5;
  display: flex;
  justify-content: center;
  /*! background: rgb(255,255,255); */
  /*! background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 53%, rgba(255, 255, 255, 0) 81%, rgba(255,255,255,0) 100%); */
  padding: 10px;
  background-origin: content-box;
  background-repeat: no-repeat;
}

.camera-control-button{
  width:40%;
}

.camera-control-element:hover{
  background:white;

}